@use 'functions' as *;

$border-radius: rem(16);

$colors: (
  primary: (
    500: hsl(246, 80%, 60%),
  ),
  title: (
    work: hsl(15, 100%, 70%),
    play: hsl(195, 74%, 62%),
    study: hsl(348, 100%, 68%),
    exercise: hsl(145, 58%, 55%),
    social: hsl(264, 64%, 52%),
    self-care: hsl(43, 84%, 65%),
  ),
  neutral: (
    100: hsl(0, 0%, 96%),
    200: hsl(236, 100%, 87%),
    500: hsl(235, 45%, 61%),
    800: hsl(235, 46%, 20%),
    900: hsl(226, 43%, 10%),
  ),
)